html, body{
    margin:0;
    padding: 0;
    font-family: $main_font;
}
h1,h2,h3,h4,h5,h6{
    font-family: $heading_font;
}
ul{
    list-style: none;
    padding-left: 0;
}
#css-zen-garden{
    h1{
        font-size: 2.5em;
    }
    margin: auto;
    max-width: 80%;
    text-align: center;
}
#zen-supporting::before{
    @include line();
}
aside.sidebar::before{
    margin-top: 20px;
    @include line();
}
#zen-requirements p[role="contentinfo"]::before{
    @include line();
}