
// color palette - these colors will be the color swatches of the Colors section

$color-1: #9c008f; // Dark Magenta
$color-2: #960020; // Torch Red
$color-3: #2de0ad; // vivid Green-cyan
$color-4: #f72c25; // Red orange
$color-5: #ffffff; // white


// additional colors

$success: $color-4; // // Red orange
$alert: $color-3; // vivid Green-cyan