
// color palette - these colors will be the color swatches of the Colors section

$color-1: #9c008f; // Cornflower Blue - Action color
$color-2: #960020; // Dark Blue
$color-3: #2de0ad; // Red
$color-4: #f72c25; // light grey
$color-5: #ffffff; // white

// additional colors

$success: $color-4; // green
$alert: $color-3; // red