body {
    @include position(relative);
    &::before,
    &::after {
        @include pseudo-content(block, 100%, 33.3%, url(assets/pattern-2.svg));
        background-size: 200px;
        background-repeat: repeat;
    }
    &::before {
        @include position(absolute, $left: -33.3%);
    }
    &::after {
        @include position(absolute, $right: -33.3%);
    }
}

#zen-intro {
    h1 {
        &::before {
            margin-right: 25px;
        }
        &::after {
            height: 120px;
            width: 100px;
            margin-left: 25px;
        }
    }
}

#css-zen-garden {
    h1 {
        font-size: 3em;
    }
    max-width: 60%;
}
#zen-resources {
    ul {
        @include flexbox();
        li {
            margin: 2em auto;
        }
    }
}
#design-selection {
    max-width: 70%;
    margin: auto;
    ul {
        padding: 30px;
        li {
            color: transparent;
            @include flexbox();
            @include align-items(center);
            @include justify-content(space-between);
            a {
                color: black;
            }
        }
    }
}
footer {
    @include flexbox();
    @include justify-content(space-around);
}
#zen-requirements p[role="contentinfo"] {
    margin: auto;
    max-width: 80%;
    margin-bottom: 15px;
}
#zen-requirements p[role="contentinfo"]::before {
    margin-bottom: 15px;
}
