html,
body {
    margin: 0;
    padding: 0;
    font-family: $main_font;
    background-color: $background;
    width: 100%;
}
body {
    @include flexbox();
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading_font;
    text-transform: uppercase;
    color: $primary;
}
a {
    color: $secondary;
    text-decoration: none;
    font-weight: bold;
}

#zen-intro {
    h1 {
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
        margin-bottom: 0;
        &::before {
            @include pseudo-content(inline-block,80px,80px,url(assets/star-1.svg));
            margin-right: 0;
            @include animateRotate();
        }
        &::after {
            @include pseudo-content(inline-block,100px,100px,url(assets/star-2.svg));
            margin-left: 0;
            @include animateRotate();
        }
    }
}

#zen-resources {
    &::after {
        @include pseudo-content(block,100px,300px,url(assets/botas.svg));
        margin: auto;
    }
}

h2,
h3 {
    color: $accent;
}
ul {
    list-style: none;
    padding-left: 0;
}
#css-zen-garden {
    h1 {
        font-size: 2.5em;
    }
    margin: auto;
    text-align: center;
    .page-wrapper {
        max-width: 95%;
        margin: auto;
    }
}
#zen-supporting::before {
    @include line();
}
aside.sidebar::before {
    margin-top: 20px;
    @include line();
}
.viewall {
    font-size: 2em;
    border: 1px black solid;
    max-width: 10em;
    margin-left: auto;
    margin-right: auto;
}
.viewall {
    border: 1px $accent dashed;
    border-radius: 5px;
    padding: 15px 8px;
}
.next {
    margin-bottom: 10px;
}
#design-selection {
    border: $accent dotted 2px;
    border-radius: 5px;
}
