@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&family=Nunito&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", "Arial";
  background-color: #fffdf8;
  width: 100%; }

body {
  display: flex; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mountains of Christmas", "Sans serif";
  text-transform: uppercase;
  color: #d31816; }

a {
  color: #088736;
  text-decoration: none;
  font-weight: bold; }

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0); }
  50% {
    -webkit-transform: scale(1.2) rotateZ(180deg);
    transform: scale(1.2) rotateZ(180deg); }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg); } }
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0); }
  50% {
    -webkit-transform: scale(1.2) rotateZ(180deg);
    transform: scale(1.2) rotateZ(180deg); }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg); } }
#zen-intro h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0; }
  #zen-intro h1::before {
    display: inline-block;
    content: "";
    background: url(assets/star-1.svg);
    height: 80px;
    width: 80px;
    margin-right: 0;
    background-size: cover;
    animation: rotate-scale-up 5s infinite; }
  #zen-intro h1::after {
    display: inline-block;
    content: "";
    background: url(assets/star-2.svg);
    height: 100px;
    width: 100px;
    margin-left: 0;
    background-size: cover;
    animation: rotate-scale-up 5s infinite; }

#zen-resources::after {
  display: block;
  content: "";
  background: url(assets/botas.svg);
  height: 100px;
  width: 300px;
  background-size: cover;
  margin: auto; }

h2,
h3 {
  color: #C8963B; }

ul {
  list-style: none;
  padding-left: 0; }

#css-zen-garden {
  margin: auto;
  text-align: center; }
  #css-zen-garden h1 {
    font-size: 2.5em; }
  #css-zen-garden .page-wrapper {
    max-width: 95%;
    margin: auto; }

#zen-supporting::before {
  display: inline-block;
  content: '';
  height: 20px;
  width: 100%;
  background-color: #d31816; }

aside.sidebar::before {
  margin-top: 20px;
  display: inline-block;
  content: '';
  height: 20px;
  width: 100%;
  background-color: #d31816; }

.viewall {
  font-size: 2em;
  border: 1px black solid;
  max-width: 10em;
  margin-left: auto;
  margin-right: auto; }

.viewall {
  border: 1px #C8963B dashed;
  border-radius: 5px;
  padding: 15px 8px; }

.next {
  margin-bottom: 10px; }

#design-selection {
  border: #C8963B dotted 2px;
  border-radius: 5px; }

@media only screen and (min-width: 32.5em) {
  body::before {
    display: block;
    position: fixed;
    left: 0;
    content: "";
    width: 20%;
    height: 100vh;
    background-size: 200px;
    background-repeat: repeat;
    background: url(assets/pattern-2.svg); }

  body::after {
    display: block;
    position: fixed;
    right: 0;
    content: "";
    width: 20%;
    height: 100vh;
    background-size: 200px;
    background-repeat: repeat;
    background: url(assets/pattern-2.svg); }

  #zen-intro h1::before {
    margin-right: 25px; }
  #zen-intro h1::after {
    height: 120px;
    width: 100px;
    margin-left: 25px; }

  #css-zen-garden {
    max-width: 60%; }
    #css-zen-garden h1 {
      font-size: 3em; }

  #zen-resources ul {
    display: flex; }
    #zen-resources ul li {
      margin: 2em auto; }

  #design-selection {
    max-width: 70%;
    margin: auto; }
    #design-selection ul {
      padding: 30px; }
      #design-selection ul li {
        color: transparent;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        #design-selection ul li a {
          color: black; }

  footer {
    display: flex;
    justify-content: space-around; }

  #zen-requirements p[role="contentinfo"] {
    margin: auto;
    max-width: 80%;
    margin-bottom: 15px; }

  #zen-requirements p[role="contentinfo"]::before {
    margin-bottom: 15px; } }
