@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&family=Nunito&display=swap");
html, body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", "Arial"; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Mountains of Christmas", "Sans serif"; }

ul {
  list-style: none;
  padding-left: 0; }

#css-zen-garden {
  margin: auto;
  max-width: 80%;
  text-align: center; }
  #css-zen-garden h1 {
    font-size: 2.5em; }

#zen-supporting::before {
  display: inline-block;
  content: '';
  height: 20px;
  width: 100%;
  background-color: black; }

aside.sidebar::before {
  margin-top: 20px;
  display: inline-block;
  content: '';
  height: 20px;
  width: 100%;
  background-color: black; }

.viewall {
  font-size: 2em;
  border: 1px black solid;
  max-width: 10em;
  margin-left: auto;
  margin-right: auto; }

@media only screen and (min-width: 32.5em) {
  #css-zen-garden {
    max-width: 60%; }
    #css-zen-garden h1 {
      font-size: 3em; }

  #zen-resources ul {
    display: flex; }
    #zen-resources ul li {
      margin: 2em auto; }

  #design-selection {
    max-width: 70%;
    margin: auto;
    border: 1px solid black; }
    #design-selection ul {
      padding: 30px; }
      #design-selection ul li {
        color: transparent;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        #design-selection ul li a {
          color: black; }

  footer {
    display: flex;
    justify-content: space-around; }

  #zen-requirements p[role="contentinfo"] {
    margin: auto;
    max-width: 80%;
    margin-bottom: 15px; }

  #zen-requirements p[role="contentinfo"]::before {
    margin-bottom: 15px; } }
